<div class="card-body table-responsive">

  <form #microsoftUpdateFilter="ngForm" class="navbar-form" (ngSubmit)="buscar()">
    <mat-form-field class="example-full-width">
      <mat-label>ID</mat-label>
      <input name="ID" matInput placeholder="ID"  [(ngModel)]="filtro.ID" #IDUpdate="ngModel">
    </mat-form-field>    
    
    <mat-form-field class="example-full-width">
      <mat-label>Alias</mat-label>
      <input name="Alias" matInput placeholder="Alias" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Url</mat-label>
      <input name="Url" matInput placeholder="Url" value="">
    </mat-form-field>              

    <mat-form-field class="example-full-width">
      <mat-label>Título Documento</mat-label>
      <input name="titulo_documento" matInput placeholder="Título Documento" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Contexto</mat-label>
      <input name="contexto" matInput placeholder="Contexto" value="">
    </mat-form-field>

    <button name="filtro" mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
      <i class="material-icons">search</i>
      <div class="ripple-container"></div>
    </button>
  </form>
</div>
  <app-microsoft-updates-list [lista]="lista" [filtro]="filtro"></app-microsoft-updates-list>

             